# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Flask stuff:
instance/
.webassets-cache

# Notebooks
.ipynb_checkpoints

# mypy
.mypy*
.dmypy.json
dmypy.json

# pickle files
*.pickle

# scratch files
scratch.*

# DS store files
*.DS_STORE
.DS_Store

# virtual env
.venv*/

# dot env
.env

# tmp folders
*tmp

# simulation data
anp_sim_data*

# cached files
srv/

# kmz files
*.kmz

# lock files
*.lock

# notebook data
notebooks/data/sim_data/
notebooks/data/mro_data/
notebooks/data/energy_saving_data/
notebooks/data/load_balancing_data/

# app data
apps/energy_savings/data
apps/energy_savings/generated_data
apps/load_balancing/data
apps/load_balancing/generated_data

# plots
apps/energy_savings/plots
apps/load_balancing/plots

# logs
apps/energy_savings/rl_training_logs
apps/load_balancing/rl_training_logs

# rl agent
apps/energy_savings/energy_saver_agent.zip
apps/load_balancing/cco_rl_agent_multiday.zip
